<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.todolist">

    <!-- NOTIFICATION permission (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".TodoListApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodoList"
        tools:targetApi="31">

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TodoList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ com.example.todolist.composeUI.screen.Reminders.ReminderReceiver ro'yxatga olindi -->
        <receiver android:name=".composeUI.screen.Reminders.ReminderReceiver" />

    </application>

</manifest>
